body {
	padding: var(--gap-padding);
	background-color: var(--color-background);
	font-family: 'Inder', sans-serif;
}

h1 {
	color: var(--color-font-logo);
}

@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}
}