.event__container-card {
	height: 100%;
}

.event__image {
	width: 100%;
	align-content: center;
}

.event__img {
	height: 100%;
	object-fit: cover;
}

.event__content {
	display: flex;
	flex-direction: column;
}

.event__artist {
	font-family: 'Inder', sans-serif;
	font-weight: 600;
	font-size: 2vw;
	padding: var(--gap-padding) 0;
}

.event__location {
	color: var(--color-font-highlight);
	padding-top: var(--gap-padding);
}

.event__link {
	padding-top: var(--gap-padding);
	color: var(--color-font);
}
