.event__container-card {
	background-color: lightgray;
	height: 100%;
}

.event__image {
	width: 100%;
	align-content: center;
}

.event__img {
	height: 100%;
	object-fit: cover;
}

.event__content {
	display: flex;
	flex-direction: column;
}

.event__artist {
	color: aquamarine;
	font-family: 'Inder', sans-serif;
	font-size: 2vw;
}

.event__location {
	color: white;
}
